* {
  font-family: 'Outfit', 'Inter', 'Roboto', sans-serif;
  overflow-y: hidden;
  font-size: 15px;
}
h1 {
  font-size: 20px;
  text-align: center;
}
body {
  max-width: 1440px;
  background-color: hsl(212, 45%, 89%);
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.card .card-img {
  max-width: 100%;
  height: auto;
  border-radius: .5em;
}
.card .card-title, a, h1 {
  color: hsl(218, 44%, 22%);
}
.card .card-title {
  font-size: 18px;
  margin-bottom: 0;
}
.card .card-title {
  font-weight: 700;
}
.card .card-text {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
footer {
  height: 3em;
  position: fixed;
  bottom: 0;
  text-align: center;
}
@media screen and (max-width: 1439px) {
  .card {
    width: 80%;
    max-width: 350px;
  }
  footer {
    bottom: 30px;
    height: auto;
  }
}